* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*:root {
    --background-color: rgb(33, 28, 98);
    --text-color: rgba(244, 237, 237, 0.973);
    --primary-color: #ececee;
    --secondary-color: #86a1db;
    --color: rgb(107, 202, 188);
    
    --logo:orangered;
}
img {
    width: 100%;

}
.container {
    width: 100%;
    height: 100%;
    margin: auto;

}

.top-section {
    position: relative;
    overflow: hidden;
    height: 35vh;
    z-index: 2;

}
.top-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/Small-Islands-Header.jpg') ;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(80%);
    z-index: -1;

}

.logo {
    font-size: 2rem;
    font-family: "Playfair Display, serif";
}

nav {
    display: flex;
    text-transform: uppercase;
    color: var(--logo);
    font-weight: bold;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    justify-content: space-between;
    padding: 1rem;


}
.shopping-cart {
    font-size: 1.5rem;
    background-color: transparent;
    color: black;
    border: transparent;
}

.links {
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-weight: bold;  
    color: white;

}
.shopping-cart{
     
    color: white;

}
.top-para {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    color: white;
    
}
.packages {
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.packages-heading {
    text-align: center;
    margin-top: 2rem;
}

.card-header{
  text-align: center;
  padding: 1rem;
  color: blueblack;

}
.card-text {
 color: grey;
 text-align: center;
 padding-bottom: 1rem;

}
.destination {
    margin-inline: 1rem;
    margin-block: 2rem;
    border: 1px solid transparent;
    border-radius: 36px;
    background-color: rgb(243, 244, 241)


}
.img {
    border-radius: 36px;

}
.text-content {
    font-size: 1rem;
    margin: 1rem;
  

}
.activity, .para {
    padding: .7rem ;
  
}
.para {
    padding-block: 1rem;
}
.btn {

   
    padding: .7rem 1rem;
    border-radius: 16px;
    border: transparent;
    background-color: var(--secondary-color);
    font-size: 1rem;
    margin-block: 1rem;
    
}
.maldives {
    padding-block: 1rem;
}
.price {

    font-size: 1.5rem;
}

.offer{

    text-align: center;
    margin-inline: 1rem;
    padding: 1rem;
}
.offer-text{
    text-align: center;
    margin-bottom: 1rem;
    color: gray;
}

.special-offer {
    position: relative;
}
.discount {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 7%;
    color: white;
    letter-spacing: 1px;
    font-size: 1.8rem;
}
.bottom-text {
    position: absolute;
    top: 75%;
    left: 78%;
    color: white;
    font-size: 1.1rem;
    border: 1px solid transparent;
    background-color: rgb(19, 162, 72);
    padding: .3rem .1rem;
}
.images {
    padding-inline: .8rem;
    border-radius: 6px;
    filter:brightness(80%);
}

footer {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .container {
        height: 100%;
    }
    .logo{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    nav {
        display: block;
    }
    .shopping-cart{
        font-size: 1rem;

    }
    .links {
        padding: .7rem;
        font-size: .8rem;
    }
    .destination {
        margin-inline: 1rem;
        margin-block: 2rem;
        border: 1px solid transparent;
        border-radius: 36px;
        padding: 1rem;
    

    }
    .packages{
        font-size: 1.6rem;

    }

    .top-para{
         font-size: 1rem;
    }
    .img {
        border-radius: 36px;

    }
    .text-content {
        font-size: 1rem;
        margin: 1rem;
      

    }
    .activity, .para {
        padding: .7rem ;
      
    }
    .para {
        padding-block: 1rem;
    }
    .btn {

       
        padding: .7rem 1rem;
        border-radius: 16px;
        border: transparent;
        background-color:var(--secondary-color);
        font-size: 1rem;
        margin-block: 1rem;
        
    }
    .maldives {
        padding-block: 1rem;
    }
    .price {

        font-size: 1.5rem;
    }

    .offer{

        text-align: center;
        margin-inline: 1rem;
        padding: 1rem;
    }
    .offer-text{
        text-align: center;
        margin-bottom: 1rem;
        color: gray;
    }
    
    .special-offer {
        position: relative;
    }
    .discount {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 7%;
        color: white;
        letter-spacing: 1px;
        font-size: 1.8rem;
       
    }
    .bottom-text {
        position: absolute;
        top: 75%;
        left: 80%;
        color: white;
        font-size: 1rem;
        border: 1px solid transparent;
        background-color: rgb(19, 162, 72);
        padding: .3rem .1rem;
    }
    .images {
        padding-inline: .8rem;
        border-radius: 6px;
    }


}

@media (max-width: 560px) {
    .discount {
        font-size: 1.2rem;
    }
    .bottom-text {
        position: absolute;
        top: 72%;
        left: 73%;
        padding: .1rem .1rem;
        font-size: .9rem;



    }
    

}    



@media (min-width: 768px) and (max-width: 1024px){

    .image-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .4rem;
        justify-content: space-between;
   }
   .destination{ 
       
        padding: .8rem;
   }
  
   .img {
       height: 150px;

   }
   .text-content .para {

       color: rgb(52, 45, 45);

   }

   .special-offer {
    position: relative;
}
.discount {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 7%;
    color: white;
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: bold;
}
.bottom-text {
    position: absolute;
    top: 80%;
    left: 82%;
    color: white;
    font-size: 1.3rem;
    border: 1px solid transparent;
    background-color: rgb(19, 162, 72);
    padding: .3rem .1rem;
}
.images {
    padding-inline: .8rem;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    font-size: 1.5rem;
    color: gray;
}





}

@media (min-width: 1024px) {

    body {
        font-size: 18px;
    }

    .container{

        max-width: 1200px;
        margin: 0 auto;
    }
    .top-section {
        height: 60vh;
    }
    .packages {
        margin-top: 7rem;
    }
    .image-content {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: .4rem;
         justify-content: space-between;
    }
    .destination {
       
        padding: .4rem;
    }
    .img {
        height: 150px;

    }
    .text-content .para {

        color: rgb(52, 45, 45);

    }


   .special-offer {
    position: relative;
}
    .discount {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 7%;
        color: white;
        letter-spacing: 1px;
        font-size: 3rem;
        font-weight: bold;
    }
    .bottom-text {
        position: absolute;
        top: 80%;
        left: 84%;
        color: white;
        font-size: 1.5rem;
        border: 1px solid transparent;
        background-color: rgb(19, 162, 72);
        padding: .4rem .2rem;
        font-size: 1.5rem;

    }
    .images {
        padding-inline: .8rem;
        border-radius: 6px;
    }

    footer {
        text-align: center;
        padding: 1rem;
        margin: 2rem;
        font-size: 1.5rem;
        color: gray;
    }
}

.fas.icon {
    margin-right: 5px;
}

.package-title {
    margin-top: 10px;
    font-weight: bold;
}